.Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #000000;
}

.Player {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  display: inline-block;
}

.One {
  background-color: green;
}

.Two {
  background-color: red;
  
}

